<!DOCTYPE html>
<html>
    <head>
        <title>MementoBook</title>
	<meta name="keywords" content="Mukul, Sitap, mementobook, Mementobook, MEMENTOBOOK, MementoBook, MUKUL, mukul, SITAP, sitap, mukulsitap, MukulSitap, MUKULSITAP, mukulsitap@gmail.com">
	<meta name="author" content="Mukul Sitap">
	<meta name="description" content="Come And Share Your Fav palces to World ">
	<meta name="google-site-verification" content="s8_0X6EGQ0Qck86ZwBZJHqiOS8IP2GZLKRmM_abKEZI" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to MementoBook!</h1>
 		<p style="color: white;">Let's Share Your Special Memories to World</p>
		<a href="/postpage" class="btn btn-lg btn-success">Get Started</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("partials/footer") %>
